@import "@acme/ui/globals.css";
@import "tailwindcss";

@source "../../../packages/ui/src";

body {
  @apply m-0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-mono);
}
